* {
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family: title;
  src: url(klavika-medium.otf);
}
@font-face {
  font-family: lighte;
  src: url(klavika-light.otf);
}
.header {
  height: 5rem;
  width: 100%;
  background-color: black;
  padding-top: 2rem;
}
.header > h2 {
  color: white;
  font-size: 3;
  font-family: title;
  text-align: center;
}
body {
  height: 100vh;
}
.main {
  background-color: rgb(56, 56, 56);
  height: 100vh;
  width: 100%;
  padding: 20px;
}
.card1 {
  height: 11rem;
  width: 20rem;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.card1 > h2 {
  font-family: lighte;
  margin-bottom: 1rem;
}
p {
  font-family: lighte;
  margin-bottom: 1rem;
}
.form {
  font-family: lighte;
}
input {
  margin-bottom: 1rem;
}
#cards {
  margin-top: 20px;
}
